<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirecionar todas as requisições para index.html, exceto arquivos e diretórios existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>

# Negar acesso a arquivos ocultos
<FilesMatch "^\.">
    Order Allow,Deny
    Deny from all
</FilesMatch>
